/Etykieta/nbproject/private/
/Etykieta/build/
/Lab02_z6/nbproject/private/
/Lab02_z6/build/
/Lab02_z4/nbproject/private/
/Lab02_z4/build/
/Lab02_z3/nbproject/private/
/Lab02_z1/nbproject/private/
/Lab02_z3/build/
/Laboratorium02/Lab02_z1/build/
/Laboratorium09/KolkoKrzyzyk/nbproject/private/
/Laboratorium09/KolkoKrzyzyk/build/
